body{
    background-color: #CFE5CF;
    margin:0 20%;
    font-family: monospace;
}
#title{
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px black;
    font-size:3em;
    margin-right: 5%;
    
}

img{
    display: center;
    width: 35%;
    margin-left:30%;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 5px 15px;

}

#img-caption{
    font-size: 15px;
    
}

#img-caption1{
    font-size: 15px;
    padding-left: 82%; 
}
#date{
    font-size: 15px;
    text-align: center;
}

div#tribute-info{
    font-size: 15px;
    background-color:rgba(0,0,0,0.2);
    box-shadow: 20px 20px 15px grey;
    padding:5px 10px;
    margin-top:20px;
}
h1.title{
    color:white;
    text-align:center;
    text-shadow: 5px 5px 10px black;
}
